.input{
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}

.input_box{
    width: 100%;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}


.input_box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.4) ;
    outline: none;
}

.input_submit{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #2f74c0;
    color: #fff;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit:hover{
    background-color: #2f74c0;
}

.input_submit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}


.todos{
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    list-style:none;
}

.todos .li_wrapper li{
    min-width: 300px;
    background-color: goldenrod;
    padding: 20px 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete_icon, .done_icon{
    font-size: 18px;
    padding: 0 8px 0 5px;
    cursor: pointer;
}

.delete_icon:hover, .done_icon:hover{
    transform: scale(1.1);
}

.todos_action{
    padding:0 4px;
}